<mat-card class="related-card">
    <mat-card-header>
      <mat-card-title>مواضيع ذات صلة </mat-card-title>
    </mat-card-header>
    <hr>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="http://placehold.it/90x90" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة 
              
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="http://placehold.it/90x90" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة 
              
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="http://placehold.it/90x90" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة 
              
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="http://placehold.it/90x90" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة الفري            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
