<mat-toolbar class="fixed-top nav" dir='rtl' >
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <a class="navbar-brand" [routerLink]="'/General'">
            <span>Kora</span><span>Online</span>
        </a>
        <div class="nav-right ml-auto">
            <a mat-button [routerLink]="'/Matches'"> المباريات </a>
            <a mat-button [routerLink]="'/News'"> الأخبار </a>
            <a mat-button [routerLink]="'/DoryatAndBotolat'"> دوريات وبطولات </a>
            <a mat-button [routerLink]="'/Media'"> مالتيميديا </a>
            <a mat-button [routerLink]="'/FantaziaStars'"> نجوم الفانتازى </a>
            <a mat-button [routerLink]="'/OtherSports'"> رياضات أخرى </a>
        </div>
        <div class="nav-left mr-auto" >
            <a mat-button class="facebook" href="# " target="_blank"><i class="fa fa-facebook  fa-2x "></i></a>
            <a mat-button class="twitter" href="# " target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a mat-button class="youtube" href="# " target="_blank"><i class="fa fa-youtube fa-2x "></i></a>
            <a mat-button class="instagram" href="# " target="_blank"><i class="fa fa-instagram fa-2x "></i> </a>
            <a mat-button href="#" class="search"> <i class="fa fa-search fa-2x"></i></a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container dir='rtl' class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" >
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/Matches'"> المباريات </a>
            <a mat-list-item [routerLink]="'/News'"> الأخبار </a>
            <a mat-list-item [routerLink]="'/DoryatAndBotolat'"> دوريات وبطولات</a>
            <a mat-list-item [routerLink]="'/Media'"> مالتيميديا </a>
            <a mat-list-item [routerLink]="'/KoraTalks'"> كلام فى الكورة </a>
            <a mat-list-item [routerLink]="'/FantaziaStars'"> نجوم الفانتازى </a>
            <a mat-list-item [routerLink]="'/ExpectationsQuizes'"> مسابقة التوقعات </a>
            <a mat-list-item [routerLink]="'/OtherSports'"> رياضات أخرى </a>
            <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

