<!-- 
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 item">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>الهدافون</h3>
                    </div>
                </div>
            </div>

            <div class="card item">
                <div class="row">
                    <div class="col-md-2">
                        <img class="image"
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt="...">
                    </div>
                    <div class="text col-md-7">
                        <div class="card-body">
                            <a href="#" class="card-text">خوان كوادرادو </a>
                            <a href="#" class="card-text">يوفنتوس</a>
                        </div>
                    </div>
                    <div class="num col-md-3">
                        <p>6</p>
                        <span>هدف</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 item">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>ترتيب الفرق</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>المباريات القادمة </h3>
                    </div>
                </div>
            </div>
                <div class="row main-card-item card">
                    <div class="col-lg-4">
                      <img class="image" src="http://placehold.it/50x50" alt="...">
                      <h4 class="club-name">الفريق الاول</h4>
                    </div>
                    <div class="col-lg-4 details">
                          <span class="match-time">Time</span>
                    </div>
                    <div class="col-lg-4">
                      <img class="image" src="http://placehold.it/50x50" alt="...">
                      <h4 class="club-name"> الفريق الثانى</h4>
                    </div>
                  </div>
        </div>
    </div>
</div> -->
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="head col-md-12">
            <h2 class="head_title"> أخبار دورى WE المصرى </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 item">
            <div class="row title">
                <h3>الهدافون </h3>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2 ">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8">
                    <a href="#">خوان كوادرادو</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="num col-lg-2  ">
                    <span> 6 </span>
                    <span>هدف</span>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2 ">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8 ">
                    <a href="#">خوان كوادرادو</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="num col-lg-2  ">
                    <span> 6 </span>
                    <span>هدف</span>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2 ">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8 ">
                    <a href="#">خوان كوادرادو</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="num col-lg-2  ">
                    <span> 6 </span>
                    <span>هدف</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12  item">
            <div class="row title">
                <h3>ترتيـــب الفــرق </h3>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8">
                    <a href="#">الزمالـــك</a>
                </div>
                <div class="num col-lg-2">
                    <span> 6</span><br>
                    <span>نقطة</span>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2 ">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8 ">
                    <a href="#">الزمالـــك</a>
                </div>
                <div class="num col-lg-2  ">
                    <span> 6</span><br>
                    <span>نقطة</span>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-2 ">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="38px" height="38px" alt=""></a>
                </div>
                <div class="names col-lg-8 ">
                    <a href="#">الزمالـــك</a>
                </div>
                <div class="num col-lg-2  ">
                    <span> 6</span><br>
                    <span>نقطة</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12  item">
            <div class="row title">
                <h3>المباريات القادمة </h3>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <span> timeeeeeeeeee</span>
                    </div>
                    <div>
                        <span>dateeeeeeee</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <span> timeeeeeeeeee</span>
                    </div>
                    <div>
                        <span>dateeeeeeee</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
            </div>
            <div class="row mt-3 second">
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <span> timeeeeeeeeee</span>
                    </div>
                    <div>
                        <span>dateeeeeeee</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="image"><img
                            src="https://media.gemini.media/img/yallakora/IOSTeams/40/\2020\12\10\ahly11112020_12_10_21_30.jpg"
                            alt=""></a>
                    <div>
                        <span>الأهـــلي</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
