.head {
    background-color: #E8E8E8;
    border-right: solid 4px black;
    direction: rtl;
    margin-bottom: 8px;
    margin-top: 3px;
  }
  
  .head .head_title {
    margin-top: 5px;
    font-weight: bold;
    float: right;
    display: inline;
    padding: 3px 0 0;
    }
  
  .head a {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
  }
  
  .head a i {
    margin-right: 10px;
  }
  
  .card {
    direction: rtl;
    height: 22em;
  }
  
  .card .card-image {
    height: 12em;
  }
  
  .card .card-title {
    direction: rtl;
    text-align: right;
    cursor: pointer;
  }
  
  .card .card-title:hover {
    color: blue;
    cursor: pointer;
  }
  
  .span {
    position: absolute;
    right: 0;
    height: 30px;
    width: 100px;
    background-color: #233424;
    color: blanchedalmond;
    text-align: right;
    padding-right: 7px;
    padding-top: 5px;
  
  }
  .mat-paginator {
    margin-left: auto;
  }
  
