<div class="container">
    <div class="row">
        <div class="head col-md-12">
            <h2 class="head_title"> مالتميديا</h2>
            <a href="#" class="btn btn-primary" [routerLink]="'/Media'">المزيد<i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="row ">
        <div class="col-4 mb-4">
            <div class="card">
                <div class="card-image">
                    <img src="http://placehold.it/350x300" class="card-img-top" alt="...">
                </div>
                <span class="span">فيديو</span>
                <div class="card-body">
                    <div class="card-img-overlay">
                        <h2 class="card-title">صورصورصورصورصورصورصورصورصورصورصور </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="ttl">
        <h2><a href="#">إحصائيات دوري أبطال أوروبا</a></h2>
        <a href="#" class="more ACN_More" title="المزيد">المزيد<span class="icon-more"></span></a>
    </div>

    <div class="row  justify-content-md-center  mt-2">


        <div class="col-lg-3 col-md-12 test">
            <div>
                <h3>قائمة صانعي الأهداف </h3>
            </div>
            <ul>
                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>

                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>


                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>
            </ul>


        </div>


        <div class="col-lg-3 col-md-12 test">
            <div>
                <h3>المزيد من الأخبار </h3>
            </div>
            <ul>
                <li>
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>

                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>


                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>
            </ul>


        </div>

        <div class="col-lg-3 col-md-12 test">
            <div>
                <h3>الهدافون </h3>
            </div>
            <ul>
                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>


                <li>

                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                    <div class="details">
                        <div class="name">
                            <a href="#">خوان كوادرادو</a>
                            <br>
                            <a href="#">يوفنتوس</a>
                        </div>

                        <div class="num">
                            <p>6</p>
                            <span></span>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->