<div class="container" dir="rtl">
    <div class="row">
      <div class="head col-md-12">
        <h2 class="head_title">دوريات وبطولات </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="category col-md-12">
        <h2 class="category_title">محلية </h2>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى We المصرى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title"> كأس مصـــر</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="category col-md-12">
        <h2 class="category_title">أوروبية </h2>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى الإنجليزى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى الاسبانى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title"> الدورى الإيطالى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title"> الدورى الألمانى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى الفرنسى</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى البرتغالى</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title"> كأس كاراباو</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title"> كأس ملك إسبانيا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="category col-md-12">
        <h2 class="category_title">قارية </h2>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">كأس السوبر الأفريقى</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">تصفيات أمم أفريقيا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى أبطال أفريقيا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الكونفيدرالية الأفريقية</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى أبطال أوروبا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى الاوروبى</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى الامم الاوروبية</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى أبطال اسيا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">تصفيات كأس العالم-أمريكا الجنوبية</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">تصفيات كأس العالم-أفريقيا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">تصفيات أمم أوروبا</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="category col-md-12">
        <h2 class="category_title">عربية </h2>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى السعودى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى الأماراتى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى التونسى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">الدورى المغربى </h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">دورى نجوم قطر</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب الفرق<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">كأس محمد السادس للأندية الأبطال</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
            <a href="#" class="btn btn-primary">ترتيب المجموعات<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card main-card-item">
        <div class="row">
          <div class="col-lg-1">
            <img class="image" src="http://placehold.it/50x50" alt="...">
          </div>
          <div class="col-lg-11">
            <h2 class="card-title">كأس خادم الحرمين الشريفين</h2>
            <a href="#" class="btn btn-primary">أخبار<i class="fa fa-arrow-left"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>