<div class="container" dir="rtl">
    <div class="row">
        <div class="card main-card-item">
            <div class="row">
                <div class="col-lg-1">
                    <img class="image" src="http://placehold.it/50x50" alt="...">
                </div>
                <div class="col-lg-11">
                    <h2 class="card-title" [routerLink]="'/Dory'">أسم الدورى هنا </h2>
                    <a href="#" class="btn btn-primary" [routerLink]="['/News']">أخبار<i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card main-card-match-time">
            <div class="row">
                <div class="col-lg-2 week">
                    <h3 class="card-subtitle mb-2 text-muted">الاسبوع رقم كام </h3>
                </div>
                <div class="col-lg-3">
                    <img class="image" src="http://placehold.it/50x50" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">أسم النادى</h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h2 class="match-time">Time</h2>
                    <span class="match-state">لم تبدأ</span>
                </div>
                <div class="col-lg-3">
                    <img class="image" src="http://placehold.it/50x50" alt="...">
                    <div class="card-body">
                        <h3 class="card-title"> أسم النادى</h3>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="image match-channal" src="http://placehold.it/50x50" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
