<div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="mt-4">{{post.title}}</h1>
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>
        <p>Posted on November 5, 2020 at 08:30 PM</p>
        <hr>
        <p class="lead">Body : {{post.body}}</p>
        <p>ومن المقرر أن يواجه النادي الأهلي نظيره المغربي، نهضة بركان حيث فاز الأول بلقب دوري أبطال أفريقيا على حساب الزمالك فيما فاز نهضة بركان بلقب كأس الكونفدرالية على حساب بيراميدز..</p>
        
        
        <p>وقال مصدر في المكتب التنفيذي في كاف والذي يعقد اجتماعًا في الوقت الحالي من خلال تصريحات ليلا كورة إنه تم الاستقرار على أن يكون السوبر الأفريقي في دولة قطر للنسخة الجارية.

            وكان الاتحاد الأفريقي لكرة القدم قد وقع على عقد مع الاتحاد القطري على أن يُقام السوبر في العاصمة الدوحة لمدة 3 سنوات تم لعب عامين فقط منهما.</p>
        
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
        <hr>
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
            in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class=" mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
            in faucibus.

            <div class="media mt-4">
              <img class=" mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class=" mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
