<div class="container">
    <div class="row">
        <div class="title col-md-12">
            <h2 class="head_title">قائمة هدافى دوري WE المصري </h2>
        </div>
    </div>
    <div class="row head mt-1">
        <div class="col-lg-12">
            <div class="row">
                <div class=" col-lg-2  first">
                    <span> 6 </span>
                    <br>
                    <span> نقطة</span>
                </div>
                <div class=" col-lg-8 second ">
                    <a href="#">الزمالـــك</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="col-lg-2  third">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            width="114px" height="114px" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row  mt-2">
        <div class="col-lg-5 body">
            <div class="row">
                <div class="col-lg-2 first">
                    <span> 6 </span>
                    <br>
                    <span> نقطة</span>
                </div>
                <div class="col-lg-8 second">
                    <a href="#">الزمالـــك</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="col-lg-2 third">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                </div>
            </div>
        </div>

        <div class="col-lg-5 body" style="margin-left: auto;">
            <div class="row">
                <div class="col-lg-2 first">
                    <span> 6 </span>
                    <br>
                    <span> نقطة</span>
                </div>
                <div class="col-lg-8 second">
                    <a href="#">الزمالـــك</a>
                    <br>
                    <a href="#" class="text-muted">يوفنتوس</a>
                </div>
                <div class="col-lg-2 third">
                    <a href="#" class="image"><img
                            src="https://media.linkonlineworld.com/img/yallakora/Players//Players/JuanCuadrado_4348.jpg"
                            alt=""></a>

                </div>
            </div>
        </div>
    </div>
</div>