<div class="row carsoll">
  <div class="col-lg-12">
    
    <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation main" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-3 pb-2" *ngFor="let card of item; let cardIndex = index">
          <div class="row main-card-item card">
            <div class="col-lg-3">
              <img class="image" src="http://placehold.it/50x50" alt="...">
              <h5 class="club-name">{{card.team_one}}</h5>
            </div>
            <div class="col-lg-6 details">
              <span class="dory">{{card.dory}} </span>
              <div class="match-result">
                <span>{{card.goals_team_one}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{card.goals_team_two}}</span>
              </div>
              <span class="match-state">{{card.states}}</span>
              <span class="match-time">Time</span>
            </div>
            <div class="col-lg-3">
              <img class="image" src="http://placehold.it/50x50" alt="...">
              <h5 class="club-name"> {{card.team_two}}</h5>
            </div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
<div class="row">
  <div class="matches  col-md-12">
    <h3 class="matches_click " [routerLink]="'/Matches'">شاهد كل المباريات <i class="fa fa-arrow-left"></i></h3>
  </div>
</div>