<div class="container">
    <div class="row">
      <div class="head col-md-12">
        <h2 class="head_title">نجوم الفانتازيــا</h2>
      </div>
    </div>
  
    <div class="row ">
      <div class="col-3 mb-3">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/300x250" class="card-img-top" alt="...">
          </div>
          <span class="span">اسم الدورى</span>
          <div class="card-body">
            <h2 class="card-title"> الخبرالخبرالخبرالخبرالخبرالخبرالخبرالخبرالخبرالخبرالخبر</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="matches  col-md-12">
      <h3 class="matches_click " [routerLink]="'/Matches'"> المزيد من الاخبار  <i class="fa fa-arrow-left"></i></h3>
    </div>
  </div>