<mat-card class="news-card">
    <mat-card-header>
      <mat-card-title>موضوعات هامة  </mat-card-title>
    </mat-card-header>
    <hr>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-2">
          <span class="number">1</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">تغيير طاقم الحكام كاملًا.. ماكيلي يدير إعادة" لقاء باريس  بالأبطال            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <span class="number">2</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">تغيير طاقم الحكام كاملًا.. ماكيلي يدير إعادة" لقاء باريس  بالأبطال            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <span class="number">3</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">تغيير طاقم الحكام كاملًا.. ماكيلي يدير إعادة" لقاء باريس  بالأبطال            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <span class="number">4</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">تغيير طاقم الحكام كاملًا.. ماكيلي يدير إعادة" لقاء باريس  بالأبطال            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <span class="number">5</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">تغيير طاقم الحكام كاملًا.. ماكيلي يدير إعادة" لقاء باريس  بالأبطال            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>


