
  <mat-card class="most-read-card">
    <mat-card-header>
      <mat-card-title>المواضيع الأكثر قراءة </mat-card-title>
    </mat-card-header>
    <hr>
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="http://placehold.it/50x50" alt="...">
          <span >200</span>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة الفريق
              الاساسية
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="http://placehold.it/50x50" alt="...">
          <span >200</span>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة الفريق
              الاساسية
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="http://placehold.it/50x50" alt="...">
          <span >200</span>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة الفريق
              الاساسية
            </a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="card ">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="http://placehold.it/50x50" alt="...">
          <span >200</span>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a href="#" class="card-text">رسميا الاتحاد السكندرى يعلن ضم احدهم الى فريقة ليكون يكون ضمن تشكيلة الفريق
              
            </a>
          </div>
        </div>
      </div>
    </div>

  </mat-card>
