<div class="footer ">
    <div class="container">
        <h2> دوريات وبطولات </h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <span class="title">محلية</span>
                <ul>
                    <li><a href="#">دوري WE المصري</a></li>
                    <li><a href="#">كأس مصر</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <span class="title">أوروبية</span>
                <ul>
                    <li><a href="#">الدوري الإنجليزي</a></li>
                    <li><a href="#">الدوري الإسباني</a></li>
                    <li><a href="#">الدوري الإيطالي</a></li>
                    <li><a href="#">الدوري الألماني</a></li>
                    <li><a href="#">الدوري الفرنسي</a></li>
                    <li><a href="#">الدوري البرتغالي</a></li>
                    <li><a href="#">دوري كاراباو</a></li>
                    <li><a href="#">دوري ملك إسبانيا</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <span class="title">قاريــة</span>
                <ul>
                    <li><a href="#"> كأس السوبر الإفريقي</a> </li>
                    <li><a href="#">تصفيات أمم إفريقيا</a></li>
                    <li><a href="#">دوري أبطال إفريقيا</a></li>
                    <li><a href="#">الكونفيدرالية الإفريقية</a></li>
                    <li><a href="#">دوري أبطال أوروبا</a></li>
                    <li><a href="#">الدوري الأوروبي</a></li>
                    <li><a href="#">دوري الأمم الأوروبية</a></li>
                    <li><a href="#">دوري أبطال آسيا</a></li>
                    <li><a href="#">تصفيات كأس العالم - أمريكا الجنوبية</a></li>
                    <li><a href="#">تصفيات كأس العالم-إفريقيا</a></li>
                    <li><a href="#">تصفيات أمم أوروبا</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <span class="title">عربية </span>
                <ul>
                    <li><a href="#">الدوري السعودي</a></li>
                    <li><a href="#">الدوري الإماراتي</a></li>
                    <li><a href="#">الدوري المغربي</a></li>
                    <li><a href="#">الدوري التونسي</a></li>
                    <li><a href="#">دوري نجوم قطر</a></li>
                    <li><a href="#">كأس محمد السادس للأندية الأبطال</a></li>
                    <li><a href="#"> كأس خادم الحرمين الشريفين</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <a class="footer-brand" href="#">
                <span>Kora</span><span>Online</span>
            </a>
        </div>
        <nav class="navbar justify-content-center">
            <div class="row ">
                <div class="col-12">
                    <ul class="navbar-nav">
                        <div class="container">
                            <li class="nav-item"><a class="nav-link" [routerLink]="'/Matches'">المباريات</a></li>
                            <li class="nav-item"><a class="nav-link"[routerLink]="'/News'">الأخبار</a></li>
                            <li class="nav-item"><a class="nav-link"[routerLink]="'/DoryatAndBotolat'">دوريات وبطولات</a></li>
                            <li class="nav-item"><a class="nav-link"[routerLink]="'/Media'">مالتيميديا</a></li>
                            <li class="nav-item"><a class="nav-link"[routerLink]="'/KoraTalks'">كلام فى الكورة</a></li>
                            <li class="nav-item"><a class="nav-link"[routerLink]="'/ContactUs'">للإعلان معنا</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

       <!-- Start CopyRight-->
       <div class="copyright ">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-sm-6 text-center text-sm-right">
                    <ul class="list-unstyled ">
                        <li class="facebook">
                            <a href="# "><i class=" fa fa-facebook fa-2x"></i></a>
                        </li>
                        <li class="twitter">
                            <a href="# "><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li class="youtube">
                            <a href="# "><i class="fa fa-youtube fa-2x"></i></a>
                        </li>
                        <li class="instagram">
                            <a href="# "><i class="fa fa-instagram fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End CopyRight-->
